#services{
    background-color: #f2f2f2;
}
.container{
    font-family: "Raleway", sans-serif;
}
.container h1,h5{
    display: flex;
    justify-content: center;
}
.container h1{
    font-size: 30px;
    font-weight: normal;
    margin-top: 40px;
}
.container h5{
    font-size: 1.25em;
    color: #859196;
    line-height:1.7; 
    font-weight: normal;
    margin-top: 20px;
}
.service-item,.item{
    border: 1px solid red;
    height: 300px;
    margin: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

