img{
    width: 160px;
    object-fit: cover;
}
.container{
    /* border: 1px solid red; */
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.container-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-menu img{
    margin-right: 40px;
}
.container-menu i{
    margin: 0 5px;
    font-size: 22px;
}
.container-menu p{
    font-size: 28px;
    font-weight: 600;
    font-family: Poppins-SemiBold;
}
.container-social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-social i{
    margin: 0 15px;
    font-size: 22px;
}
.container-social select{
    font-size: 18px;
}
.facebook{
    color: #4867aa;
}
.instagram{
    color: #db4271;
}
.whatsapp{
    color: #27b13e;
}
.youtube{
    color: #ff0000;
}