*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* services basladi */
#services{
    background: url("/images/s.jpg") no-repeat center center fixed #000;
    background-size: cover;
}
.container{
    margin: 0 auto;
}
.My-name{
    font-size: 40px;
    margin-top: 40px;
}
.elements{
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
}
.elements ul li{
    padding: 20px;
}
.navbar{
    height: 542px;
    margin-top: 270px;
}
.Hi p{
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 40px;
}
.Hi span{
    font-size: 30px;
}

/* services bitdi */
/* info basladi */

.item{
    height: 880px;
}
.item-foto{
    margin-top: 100px;
    height: 300px;
    margin-bottom: 50px;
}
.item-foto img{
    padding: 10px;
    background: #dddddd;
    border-radius: 50%;
}
.about h2{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
.about span{
    color: gray;
    font-size: 20px;
    line-height: 1.5; 
}
.about ul{
    margin-top: 40px;
    font-size: 19px;
    display: flex;
    flex-wrap: wrap;
}
.about ul li{
    width: 50%;
    margin-bottom: 30px;
    display: flex;
}
.about ul li p{
    margin-left: 15px;
}
.cv button{
    font-size: 20px;
    background: black;
    padding: 20px 25px;
}
.cv button:hover{
    background: white;
    color: black;
}

/* info bitdi */
/* project basladi */

#project{
    height: 600px;
}
.hire{
    height: 400px;
    flex-direction: column;
    background-color: #212121;
}
.hire span{
    font-size: 50px;
    font-weight: bold;
    margin-top: 150px;
}
.hire button{
    margin-top: 40px;
    font-size: 20px;
    padding: 15px;
    background-color: #212121;
    border: 3px solid white;
}
.hire button:hover{
    background: white;
    color: black;
}

/* project bitdi */
/* contact basladi */

.contact-get{
    height: 800px;
    font-family: "Open Sans", sans-serif;
    width: 1200px;
    margin: 0 auto;
}
.get{
    height: 200px;
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    margin-bottom: -100px;
}
.get h1{
    position: relative;
}
.get h1::after{
    position: absolute;
    content: "";
    top: 60%;
    right: 105%;
    width: 40%;
    height: 3px;
    background: black;
}
.get h1::before{
    position: absolute;
    content: "";
    right: -45%;
    top: 60%;
    width: 40%;
    background: black;
    height: 3px;
}
.name{
    width: 570px;
    height: 200px;
    color: gray;
    font-size: 20px;
    border-bottom: 3px solid black;
    padding-left: 15px;
}
.name p{
    margin-bottom: 20px;
}
.gmail{
    height: 200px;
    color: gray;
    font-size: 20px;
    border-bottom: 3px solid black;
    margin-left: 10px;
    padding-left: 15px;
}
.gmail p{
    margin-bottom: 20px;
}
.help{
    height: 200px;
    color: gray;
    font-size: 20px;
    margin-bottom: 50px;
    border-bottom: 3px solid black;
    padding-left: 15px;
}
.help p{
    margin-top: 30px;
}
.message button{
    padding: 20px 25px;
    font-size: 17px;
    background-color: #212121;
}
.message button:hover{
    background: white;
    color: black;
}

/* contact bitdi */
/* end basladi */

.end-info{
    margin-top: 80px;
    background-color: #212121;
    height: 400px;
    flex-direction: column;
}
.end-contact{
    margin-top: 150px;
}
.end-togrul{
    font-size: 40px;
    font-weight: bold;
}
.end-social{
    margin: 20px 0;
    word-spacing: 10px;
    font-size: 20px;
}
.end-social i{
    border-radius: 50%;
    font-size: 25px;
    background: #252525;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 2;
}
.end-social i:hover{
    background: white;
    color: black;
    
}
.end-word{
    font-size: 20px;
    color: gray;
}

/* end bitdi */