img{
    width: 160px;
    object-fit: cover;
}
body{
    background-color: #f9f9f9;
}

/* services basladi */

#services{
    background-color: #eeeeee;
    height: 80px;
}
.container-menu{
    margin-top: 15px;
}
.container-menu img{
    margin-right: 40px;
}
.container-menu i{
    margin: 0 5px;
    font-size: 22px;
}
.container-menu p{
    font-size: 28px;
    font-weight: 600;
    font-family: Poppins-SemiBold;
}
.container-social{
    margin-top: 15px;
}
.container-social i{
    margin: 0 15px;
    font-size: 22px;
}
.container-social i:hover{
    transform: scale(1.07);
}
.container-social select{
    font-size: 18px;
    border: none;
    background-color: #eeeeee;
}
.facebook{
    color: #4867aa;
}
.instagram{
    color: #db4271;
}
.whatsapp{
    color: #27b13e;
}
.youtube{
    color: #ff0000;
}

/* services bitdi */
/* menu basladi */

#menu{
    background-color: #df2027;
    height: 80px;
}
.menu-basliq{
    color: white;
    padding: 30px 0;
}
.esas-hisse,ul{
    display: flex;
    margin: 0 10px;
    font-size: 25px;
}
.esas-hisse ul li{
    margin: 0 10px;
}
.esas-hisse ul li:hover{
    color: black;
}
.list{
    color: black;
    width: 220px;
    background-color: white;
    padding: 28px 10px;
    margin-top: -30px; 
}
.list p{
    margin-left: 10px;
}
.menu-search i{
    color: gray;
    margin-left: -25px;
}
.axtaris-hisse select{
    margin-bottom: 30px;   
    border: none;
    color: white;
    background-color: #df2027;
    font-size: 18px;
}
.menu-search {
    margin-right: 40px;
}
.menu-search input{
    width: 400px;
    height: 50px;
    margin-top: -20px;
    font-size: 20px;
    font-family: inherit;
    padding: 0 15px;
}
.icon{
    font-size: 35px;
    margin-top: -8px;
    margin-left: 20px;
}
.icon i{
    margin: 0 5px;
}

/* menu bitdi */
/* mebel basladi */

.kataloq-hissesi ul{
    background-color: white;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    border-radius: 2%;
}
.kataloq-hissesi ul li{
    border: 1px solid rgb(237, 235, 235);
    box-sizing: border-box;
    width: 240px;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 15px;
    font-family: Poppins-SemiBold;
}
.kataloq-hissesi ul li i{
    color: rgb(149 149 149);
    margin-right: 15px;
    font-size: 15px;
}
.mebel-foto{
    margin: 20px 20px;
}
.mebel-foto img{
    width: 1200px;
    height: 450px;
}

/* mebel bitdi */
/* item basladi */

.item-container{
    margin-bottom: 20px;
    padding: 10px;
}
.zemanet,.catdirilma,.meslehetci,.kampaniya{
    border: 1px solid rgb(191, 191, 191);
    height: 170px;
    flex-direction: column;
    border-style: solid;
    background: #fff;
    border-color: #dfdfdf;
}
.zemanet-image,.catdirilma-image,.meslehetci-image,.kampaniya-image{
    width: 60px;
    height: 60px;
    background: #df2027;
    border-radius: 50px;
}
.zemanet img,.catdirilma img,.meslehetci img,.kampaniya img{
    width: 40px;
    height: 40px;
}
.zemanet p,.catdirilma p,.meslehetci p,.kampaniya p{ 
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-family: 'Poppins';
}
.zemanet{
    margin-right: 30px;
}
.catdirilma{
    margin: 0 15px;
}
.meslehetci{
    margin: 0 15px;
}
.kampaniya{
    margin-left: 30px;
}

/* item bitdi */
/* endirim basladi */

#endirim{
    margin-bottom: 30px;
}
.endirim-foto{
    width: 65%;
    padding-right: 5px;
}
.endirim-foto img{
    width: 100%;
    object-position: bottom;
}
.endirim-foto img:hover{
    transform: scale(1.02);
}
.kataloq-foto{
    width: 35%;
    padding-left: 5px;
}
.kataloq-foto img{
    width: 100%;
    object-position: bottom;
}
.kataloq-foto img:hover{
    transform: scale(1.02);
}

/* endirim qurtardi */
/* en cox baxilanlar basladi */

.baxilanlar,.məhsul{
    margin-bottom: 50px;
}
.header{
    margin-bottom: 30px;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
}
.header p{
    font-size: 25px;
    font-family: Muli-Bold;
    font-weight: 600;
}
.header i{
    font-weight: 600;
    font-size: 20px;
}
.header i:hover{
    color: red;
}
.dest img{
    width: 100%;
}
.dest img:hover{
    transform: scale(1.04);
}
.header-qiymet{
    margin-top: 15px;
    font-size: 25px;
    padding: 0 15px;
}
.header-qiymet h5{
    margin: 10px 0;
}
.price-old{
    color: red;
    text-decoration: line-through;
    font-weight: 500;
}
.price-new,.price{
    font-weight: 600;
}
.faiz{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background: #df2027;
    border-radius: 30px;
    font-size: 25px;
    padding: 10px;
}
.dehliz,.divan,.yataq,.qonaq{
    border: 1px solid #e9e9e9;
    margin: 0 10px;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.dehliz:hover,.divan:hover,.yataq:hover,.qonaq:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.dehliz i,.divan i,.yataq i,.qonaq i{
    position: absolute;
    top: 210px;
    right: 10px;
    color: black;
    background: white;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px;
}

/* en cox baxilanlar bitdi */
/* yeni mehsullar basladi */
 
.price{
    margin: 10px 0;
}

/* yeni mehsullar bitdi */
/* welcome basladi */

.welcome-melumat h1{
    font-weight: 600;
    font-family: Muli-Bold;
    margin: 15px 0;
    font-size: 25px;
}
.welcome-melumat span{
    color: #333;
    font-weight: 400;
    font-size: 20px;
    line-height:1.4;
}

/* welcome bitdi */
/* end basladi */

#end{
    background: #eee;
}
.end-madeyra{
    margin-top: 30px;
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.madeyra-com{
    color: #666666;
}
.madeyra-com ul{
    flex-direction: column;
    font-size: 20px;
    margin: 20px 0;
}
.madeyra-com ul li{
    margin: 7px 0;
}
.madeyra-com ul li:hover{
    color: black;
}
.madeyra-com p{
    margin-top: 80px;
    font-size: 18px;
    line-height: 1.4;
}
.elaqe-hissesi p,.social-hissesi p{
    font-size: 23px;
    margin-bottom: 20px;
}
.elaqe-hissesi ul{
    flex-direction: column;
    font-size: 15px;
    margin: 0;
    font-family: 'Font Awesome 5 Free';
    line-height: 1.3;
}
.elaqe-hissesi ul li{
    display: flex;
    position: relative;
    color: #666;
}
.elaqe-hissesi ul li p{
    font-size: 20px;
    margin-left: 10px;
}
.social-hissesi p{
    margin-left: 0 5px;
}
.social-hissesi i{
    margin: 0 5px;
    border-radius: 50%;
    font-size: 20px;
    background: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 2;
}
.social-hissesi i:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* end bitdi */