.nav {
    position: fixed;
}

.header {
    min-width: 300px;
    min-height: 135px;
    border: 1px solid black;
    background-color: palegreen;
}

.left-nav{ 
    width: 100px;
    height: 45px;
    background-color: red;
    display: inline-block;
}

.right-nav { 
    background-color: lightslategray;
    margin-left: 325%;
    margin-top:-44px;
}

.right-nav ul li { 
    /* display: inline-block; */
    
}

.right-nav li { 
    display: inline-block;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lime;
    text-decoration: none;
}

.ultext { 
    display: inline-block;
}