body{
    background: url("/images/d.jpg") no-repeat center center fixed #000;
     background-size: cover;
}
.My-name{
    color: white;
    font-size: 50px;
}
.elements{
    color: white;
    font-size: 40px;
}