body{
    background: url("/images/a.jpg") no-repeat center center fixed #000;
     background-size: cover;
}
.container{
    display: flex;
    justify-content: space-between;
}
.My-name{
    color: white;
    font-size: 45px;
    margin-top: 17px;
    /* font-family: "Poppins", sans-serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.elements{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.elements ul{
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    
}
.elements ul li{
    padding: 20px;
}

/*  */

.naw{
    text-align: center;
    margin-top: 270px;
}
.Hi{
    color: white;
}
.Hi p{
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 30px;

}
.Hi span{
    font-size: 30px;

}
