  #home {
      padding: 40px 15px;
  }
  
  .task-container {
      justify-content: space-between;
  }
  
  .container-basliq {
      justify-content: center;
      align-items: center;
  }
  
  .container-basliq ul li {
      margin: 0 15px;
      font-size: 15px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 600;
      letter-spacing: 2px;
  }
  
  .container-basliq ul li a {
      text-decoration: none;
      color: black;
  }
  
  .container-basliq ul li a:hover {
      color: #4cd6ee;
      transition: all .3s linear;
  }
  
  .image img {
      width: 100%;
  }
  
  .first,
  .second {
      position: absolute;
      bottom: 250px;
      font-size: 18px;
      display: flex;
      justify-content: space-between;
      color: #151515;
      background-color: #fff;
      padding: 10px 15px;
  }
  
  .image i:hover {
      background-color: #4cd6ee;
      color: white;
      transition: all .3s linear;
  }
  
  .first {
      left: 97%;
  }
  
  .second {
      right: 97%;
  }
  
  .letter {
      position: absolute;
      left: 150px;
      bottom: 30%;
  }
  
  .letter h1 {
      font-size: 25px;
      border-left: 4px solid #56b3e9;
      font-family: "Ubuntu", sans-serif;
      padding: 0 15px;
  }
  
  .letter h5 {
      margin: 30px 0;
      font-weight: 600;
      font-family: "Ubuntu", sans-serif;
      font-size: 40px;
  }
  
  .letter button {
      padding: 25px 30px;
      color: white;
      background-color: #86d05d;
      border: none;
  }
  
  .letter button:hover {
      background-color: #4cd6ee;
      transition: all .3s linear;
  }
  
  .dental-time {
      margin: 100px 10px;
      font-family: "Ubuntu", sans-serif;
  }
  
  .emergency {
      border: 1px solid rgb(245 242 242);
      padding: 0 20px;
      font-size: 18px;
      height: 280px;
  }
  
  .emergency h1 {
      font-weight: 600;
      margin-top: 30px;
  }
  
  .number {
      display: flex;
      justify-content: flex-start;
      margin: 30px 0;
      padding: 20px 0;
      border-bottom: 1px solid rgb(245 242 242);
  }
  
  .number p:hover {
      color: #4cd6ee;
      transition: all .3s linear;
  }
  
  .number i {
      color: #4cd6ee;
      margin-right: 20px;
  }
  
  .clinic {
      color: gray;
      margin-bottom: 70px;
      font-size: 15px;
  }
  
  .Appointment {
      border: 1px solid rgb(245 242 242);
      height: 280px;
  }
  
  .Appointment h1 {
      margin: 40px 15px 20px 15px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 600;
      font-size: 18px;
  }
  
  .phone {
      position: relative;
  }
  
  .phone input,
  .mail input {
      border: 1px solid rgb(245 242 242);
      padding: 20px;
      color: gray;
      margin: 10px;
  }
  
  .phone i {
      color: gray;
      position: absolute;
      left: 195px;
      bottom: 30px;
  }
  
  .mail button {
      background-color: #ebebeb;
      padding: 20px;
      border: 1px solid rgb(245 242 242);
      margin: 10px;
      width: 210px;
  }
  
  .mail button:hover {
      background: #4cd6ee;
      transition: all .3s linear
  }
  
  .Hours {
      border: 1px solid rgb(245 242 242);
      width: 400px;
      height: 280px;
  }
  
  .Hours h1 {
      margin: 40px 15px 20px 15px;
      font-family: "Ubuntu", sans-serif;
      font-weight: 600;
      font-size: 18px;
  }
  
  .Hours ul li {
      display: flex;
      justify-content: space-between;
      margin: 25px 10px;
      border-bottom: 1px solid rgb(245 242 242);
      padding: 10px 0;
  }
  
  .Hours ul li:nth-child(3) {
      border-bottom: none;
  }
  
  .Hours ul li h5 {
      color: gray;
  }
  
  .container-about {
      background: #f5f5f5;
  }
  
  .about-first,
  .about-second {
      display: flex;
  }
  
  .about-item1,
  .about-item2,
  .about-item3,
  .about-item4 {
      width: 50%;
      margin: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 60px 0;
      background-color: white;
      font-family: "Ubuntu", sans-serif;
  }
  /* .about-item1 {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
  }
  
  .about-item4 {
      border-left: 1px solid black;
      border-top: 1px solid black;
  }
   */
  
  .about-first i,
  .about-second i {
      color: #4cd6ee;
      font-size: 30px;
  }
  
  .about-first h5,
  .about-second h5 {
      font-weight: 500;
      font-size: 20px;
      margin: 15px 0;
  }
  
  .about-first p,
  .about-second p {
      color: gray;
      font-size: 15px;
  }
  
  .about-clinic {
      background-color: white;
      margin: 40px;
      padding: 20px;
      font-family: "Ubuntu", sans-serif;
  }
  
  .about-clinic h1 {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
  }
  
  .about-clinic span {
      color: gray;
      line-height: 25px;
  }
  
  .about-foto {
      display: flex;
      margin-top: 30px;
  }
  
  .about-foto img {
      margin-right: 30px;
  }
  
  .foto-span {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
  }
  
  .foto-span h2 {
      font-weight: 550;
      font-size: 20px;
  }
  
  .foto-span h3 {
      color: #4cd6ee;
      font-size: 15px;
      letter-spacing: 2px;
      margin: 10px 0 20px 0;
      border-bottom: 1px solid gray;
      padding: 0 0 20px 0;
  }
  
  .foto-span h5 {
      color: gray;
      line-height: 25px;
  }
  
  .service {
      display: flex;
      justify-content: space-between;
      margin: 30px 20px;
      font-family: "Ubuntu", sans-serif;
      border-bottom: 1px solid rgb(177, 177, 177);
  }
  
  .service h1 {
      font-weight: 500;
      font-size: 30px;
      margin: 20px;
  }
  
  .service-icon i {
      border: 1px solid rgb(216, 216, 216);
      padding: 15px 18px;
  }
  
  .service-icon i:hover {
      background: #4cd6ee;
      transition: all .3s linear;
  }
  
  .service-icon button {
      border: none;
      padding: 20px 40px;
  }
  
  .service-icon button:hover {
      color: white;
      background: #4cd6ee;
      transition: all .3s linear;
  }
  
  .services-item {
      margin: 50px 0;
      font-family: "Ubuntu", sans-serif;
  }
  
  .services-item ul {
      display: flex;
  }
  
  .services-item ul li {
      margin: 0 10px;
      overflow: hidden;
  }
  
  .services-item ul li h1 {
      font-weight: 500;
      font-size: 20px;
      margin: 10px 0;
  }
  
  .services-item ul li h1:hover {
      color: #4cd6ee;
      transition: all .3s linear;
  }
  
  .services-item ul li p {
      color: gray;
      font-size: 16px;
  }